
form {
	text-align: center;
}

#imageContainer {
	border: 2px solid #000;
    display: inline-block;
    padding: 5px;
    vertical-align: top;
    margin-left: 1%;
    width: 65.6%;
}

#imageContainer img {
	width: 100%;
}

/* Styles for sliders*/

.sliders {
    width: 30%;
    display: inline-block;
	border: 2px solid #000;
	padding-left: 10px;
}

.sliders p {
	margin: 18px 0;
	vertical-align: middle;

}

.sliders label {
	display: inline-block;
	margin: 10px 0 0 0;
	width: 100px;
	font-size: 1.1rem;
	color: #22313F;
	text-align: left;
	vertical-align: middle;
}

.sliders input {
	position: relative;
	margin: 10px 20px 0 10px;
	vertical-align: middle;
}

input[type=range] {
    
    border-radius: 5px;
    width: 150px;
}


#reset {
	display: inline-block;
	height: 2.5rem;
	width: 95%;
    background-color: #22A7F0;
    border-radius: 5px;
    cursor: pointer;
    outline: none;
    font-size: 1.5rem;
    color: #fff;
    margin: 0 10px 10px 0px;
    border: 2px solid transparent;
}

#reset:hover {
    color: #22A7F0;
    background-color: #fff;
    border: 2px solid #22A7F0;
}

